<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>
<body data-bs-theme="dark">

<div class="container mt-5" style="padding: 20px">
    <div class="card" style="max-width: 600px; margin: auto">
        <div class="card-header text-white"><h3>Add Task </h3></div>
        <form method="post" th:action="@{/admin/addTask}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="ref">Ref</label>
                <input type="text" class="form-control" id="ref" name="ref" placeholder="Add task reference" th:value="${task.ref}" >
                <span class="text-danger" th:errors="${task.ref}"></span>
            </div>

            <div class="form-group mt-3">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Add task title" th:value="${task.title}" >
                <span class="text-danger" th:errors="${task.title}"></span>
            </div>

            <div class="form-group mt-3">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" placeholder="Add task description" th:text="${task.description}" rows="5"></textarea>
                <span class="text-danger" th:errors="${task.description}"></span>
            </div>

            <div class="form-group mt-3">
                Add file:
                <input type="file" accept=".pdf"  name="pdfFile">
            </div>


            <div class="text-center mt-5" >
                <a th:href="@{/user/tasks}" class="btn btn-outline-light">Cancel</a>
                <button  type="submit" class="btn btn-outline-light">Save Task</button>
            </div>
        </form>
    </div>

</div>



<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>