body{
    background-color: #7E57C2;
}

.mt-100{
    margin-top: 200px;
}


.progress-container {
    margin-bottom: 20px; /* Adjust margin as needed */
}

.progress-bar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
            radial-gradient(closest-side, white 79%, transparent 80% 100%),
            conic-gradient(hotpink var(--progress), pink 0);
}

.table-striped {
    margin-top: 20px;

}

.table {
    border-radius: 20%;
}



