
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

    body{
        /*background-color: #121212;*/
        background:#292929 !important;
    }

    .mt-100{
        margin-top: 200px;
    }


    .progress-container {
        margin-bottom: 20px; /* Adjust margin as needed */
    }





.progress-bar {

        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background:
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 3.6deg var(--progress), pink 0);

    }
    .progress-bar ::before{
        content: "";
        position: absolute;
        height: 210px;
        width: 210px;
    }

    .progress-value {
        font-weight: 600;
    }

    .table-striped {
        margin-top: 20px;

    }

    .table {
        border-radius: 20%;

    }

    td{

    }




