<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Tasks</title>
</head>

<body class="bg-gray-100">

<nav class="bg-blue-500 p-4 text-white">
    <div class="container mx-auto">
        <ul class="flex">
            <li class="mr-6"><a href="/api/user/participants" class="hover:text-gray-300">Home</a></li>
            <li class="mr-6"><a href="" class="hover:text-gray-300">Tasks</a></li>
            <li class="mr-6"><a href="/api/user/taskAssignment" class="hover:text-gray-300">Task Assignment</a></li>
        </ul>
    </div>
</nav>

<form action="/api/user/tasks" method="get" class="container mx-auto my-4">

    <div class="flex items-center">
        <label for="inputSearch" class="sr-only">Key Word</label>
        <input style="height: 40px" type="text" class="form-input h-10 px-4 border rounded" id="inputSearch" name="mc" th:value="${mc}" placeholder="Search...">
        <button style="height: 40px" type="submit" class="ml-2 bg-blue-500 text-white px-4 py-2 rounded transition duration-0 hover:duration-150">Search</button>
    </div>

</form>

<table class=" min-w-full text-center table-fixed">
    <thead class="thead-dark">
    <tr>
        <th class="py-2 px-4 border-b">Ref</th>
        <th class="py-2 px-4 border-b">Title</th>
        <th class="py-2 px-4 border-b">Short Description</th>
        <th class="py-2 px-4 border-b">Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t:${tasks}">
        <td class="py-2 px-4 border-b" th:text="${t.ref}"></td>
        <td class="py-2 px-4 border-b" th:text="${t.title}"></td>
        <td class="py-2 px-4 border-b" th:text="${t.description}"></td>
        <td class="py-2 px-4 border-b">
    <span th:if="${t.file != null}">
        <a th:href="@{/api/tasks/downloadFile(fileName=${t.file})}"
           class="inline-block px-4 py-2 leading-none border rounded text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0 ">
            Download
        </a>
    </span>
            <span th:unless="${t.file != null}" class="text-red-500">No File</span>
        </td>
    </tr>
    </tbody>
</table>

<!-- Pagination -->
<div class="mt-4">
    <ul class="flex">
        <!-- Previous Page Link -->
        <li class="mr-2" th:if="${currentpage > 0}">
            <a class="py-2 px-4 bg-blue-500 text-white rounded"
               th:href="@{/api/tasks(mc=${mc}, page=${currentpage - 1})}">&laquo; Previous</a>
        </li>

        <!-- Next Page Link -->
        <li th:if="${tasks.hasNext()}" class="ml-2">
            <a class="py-2 px-4 bg-blue-500 text-white rounded"
               th:href="@{/api/tasks(mc=${mc}, page=${currentpage + 1})}">Next &raquo;</a>
        </li>
    </ul>
</div>

</body>
</html>
